{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2 class = "abc">My history</h2>
<table class="table table-striped" id = "tb">
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Transaction</th>
        <th>Date</th>
    </tr>
    <tbody>
        {%for row in hist %}
        <tr>
            <td>{{row["symbol"]}}</td>
            <td>{{row["name"]}}</td>
            <td>{{row["shares"]}}</td>
            <td>{{row["price"]}}</td>
            <td>{{row["trans"]}}</td>
            <td>{{row["date"]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}
